body{
    font-family: 'HouschkaPro', sans-serif;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    background-color: #b9d6ef;
    z-index: -1;
}
div{
    box-sizing: border-box;
    position: relative;
    z-index: -2;
}
.cloud{
	width: 11vw; height: 3.5vw;
	background: #fff;
	border-radius: 11vw;
	-moz-border-radius: 6vw;
	-webkit-border-radius: 11vw;
    position: relative; 
    z-index: -3;
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 6vw; height: 4.7vw;
	position: absolute; top: -0.9vw; left: 0.6vw;
	
	border-radius: 6vw;
	-moz-border-radius: 6vw;
	-webkit-border-radius: 6vw;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    z-index: -4;
}
.cloud:after {
	width: 7.1vw; height: 7.1vw;
    top: -3.7vw; left: auto; right: 0.9vw;
    z-index: -5;
}
.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}
.c2 {
	left: 11vw;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.4);
	transform: scale(0.6);
    opacity: 0.6;
    
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}
.c3 {
    left: -15vw; top: -6vw;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;

    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}
.titles__first{
    font-size: 3vw;
    color: #fefefe;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.1vw;
    z-index: -6;
}
h1{
    font-size: 0.6vw;
    font-family: 'HouschkaPro Medium';
    color: #266b97;
    text-transform: uppercase;
    text-align: center;
    margin: 1.2vw;
    z-index: -7;
}

form{
    height: 2.1vw;
    border-radius: 0.2vw;
    font-size: 0.85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -8;
    
}

form input{
    margin-right: 0.24vw;
    font-size: 0.85vw;
    border: none;
    widows: 18vw;
    height: 2.15vw;
    border-radius: 0.17vw;
    border: 0.05vw solid rgb(255, 249, 249);
    z-index: -9;
}

form input[type="email"]
{
    padding-left: 0.6vw;
    font-size: 0.85vw;
}

button{
    color: #ffffff;
    border-radius: 0.17vw;
    width: 5.5vw;
    height: 2.4vw;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border: 0.06vw solid #fabb39;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to top, #f8a426, #fbc742);
}
button:hover{
    background-color: whitesmoke;
    color: #f8a426;
}
.ice{
    position: absolute;
    max-height: 30vw;
    left: 28.5vw;
    top: 27vw;
    z-index: -10;
}
.ship{
    position: relative;
    left: 22vw;
    top: 15.4vw;
    width: 2.85vw;
    height: 1.25vw;
    z-index: -10;
}
.water{
    display: block;
    background-color: rgb(38, 107, 151);
    position: relative;
    left: 0vw;
    top: 14.5vw;
    min-width: 24vw;
    max-width: 119vw;
    height: 20.4vw;
    z-index: -11;
}
.top_water{
    display: inherit;
    position: absolute(0 0 0 0);
    background: #ddecfa;
    top: 0.01vw;
    width: 100vw;
    height: 0.36vw;
    z-index: -12;
}
.mid_water{
    display: inherit;
    position: absolute(0 0 0 0);
    background: #ddecfa;
    top: 0vw;
    width: 100vw;
    height: 0.40vw;
    background-color: rgb(50, 125, 173);
    z-index: -13;
}  
.ice{
    display: inline-flex;
    top: 27.8vw;
    left: 40vw;
}






@-webkit-keyframes moveclouds {
	0% {margin-left: 59.5vw;}
	100% {margin-left: -59.5vw;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 59.5vw;}
	100% {margin-left: -59.5vw;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 59.5vw;}
	100% {margin-left: -59.5vw;}
}